{% extends "base.html" %}

{% block title %}{{game.name}}{% endblock %}        

{% block mainbody %}
<div class="turndata grid_24 alpha omega">
    <h1>Game: {{game.name}}</h1>
    <dl>
        <dt>Current Turn</dt>
        <dd>{{game.turn}}</dd>
    </dl>
</div>
<div class="playerlist grid_8 alpha">
    <h2>{{game.players_by_name.count}} Players</h2>
    <ul>
        {% for player in game.players_by_name|dictsortreversed:"current_votes_against.count" %}
        <li class="player">
            <span class="player_name">{{player.name}}</span>
            <span class="player_votes">{{player.current_votes_against.count}}</span>
            <span class="player_voting">{{player.current_vote.target.name}}</span>
<span class="lynch_list">
                <ul>
                {% for vote in player.current_votes_against %}
                    <li>{{vote.source.name}}</li>
                {% endfor %}
                </ul>
</span>
            {% if player.status %}<span class="status">{{player.status}}</span>{%endif%}
            {% if player.role %}<span class="role">{{player.role}}</span>{%endif%}
            <span class="controls">[<a href="/game/{{game.id}}/player/{{player.key}}">edit</a>, </span>
            <span class="controls"><a href="/game/{{game.id}}/player/{{player.key}}/delete">x</a>]</span>
        </li>
        {% endfor %}
    </ul>
    <form class="new_player" action="/game/{{game.id}}/player/new" method="post">
        <label for="player">Name of Player</label> <input id="player" type="text" name="player" />
        <input type="submit" value="Add Player"/>
    </form>
    <h2>Table for copy/paste</h2>
    <pre>
[table=head]Player|Votes|Voting
{% for player in game.players_by_name|dictsortreversed:"current_votes_against.count" %}{% if player.current_votes_against.count %}{{player.name}}|{{player.current_votes_against.count}}|{% for vote in player.current_votes_against %}{{vote.source.name}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}
{% endif %}{% endfor %}[/table]
    </pre>
</div>
<div class="votelist grid_16 omega">
    <h2>Turns and Votes</h2>
    <form action="/game/{{game.id}}" method="post">
            <label for="turn">Current Turn</label> <input id="turn" type="text" name="turn" placeholder="Day 1"/>
            <input type="submit" value="Change Turn"/>
        </form>
    <ol>
        {% for vote in game.votes_in_order %}
        <li class="{% if vote.valid %}valid{% else %}invalid{% endif %}">{{vote.date}} {{vote.time}} {{vote.turn}}: {{vote.source.name}} voted for {{vote.target.name}}
        {% if vote.reason %} because {{vote.reason}}{%endif%}
        <span class="editbox"><a href="/game/{{game.id}}/vote/{{vote.key}}">Edit</a></span>
        <span class="deletebox"><a href="/game/{{game.id}}/vote/{{vote.key}}/delete">Delete</a></span>
        </li>
        {% endfor %}
    </ol>
     <script>
        console.log('testing');
        $(function() {
            if (!Modernizr.inputtypes.datetime){
                console.log('datetime');
                jQuery('#date').datepicker({dateFormat:"yy-mm-dd"});
            }
            jQuery('#source').autocomplete({
                source: '/game/{{game.id}}/player.json'
            });
            jQuery('#target').autocomplete({
                source: '/game/{{game.id}}/player.json'
            });
        });
    </script>
    <div class="vote_entry">
        <form action="/game/{{game.id}}/vote/new" method="post">
            <label for="date">At: </label>
            <input name="date" id='date' type="date" placeholder="2010-10-10" required=true/>

            <label for="time">Time: </label>
            <input name="time" id='time' type="time" placeholder="18:01"/>

            <label for="gameturn">Turn: </label>
            <input name="turn" id='gameturn' type="text" placeholder="Game Turn" value="{{game.turn}}">

            <label for="source">Who: </label>
            <input name="source" id='source' type="text" placeholder="Who voted">

            <label for="target">For: </label>
            <input name="target" id='target' type="text" placeholder="Voted For">

            <label for="reason">Because: </label>
            <input name="reason" id='reason' type="text" placeholder="Reason">

            <input name="submit" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
