{% extends "base.html" %}

        {% block mainbody %}
        <script>
            console.log('testing');
            $(function() {
                if (!Modernizr.inputtypes.datetime){
                    console.log('datetime');
                    jQuery('#date').datepicker();
                }
                jQuery('#source').autocomplete({
                    source: '/game/{{game.id}}/players/json'
                });
                jQuery('#target').autocomplete({
                    source: '/game/{{game.id}}/players/json'
                });
            });
        </script>
    <div class="vote_entry">
        <form action="/game/{{game.id}}/vote" method="post">
            <label for="date">At: </label>
            <input name="date" id='date' type="date" placeholder="2010-10-10" required=true/>

            <label for="time">Time: </label>
            <input name="time" id='time' type="time" placeholder="18:01"/>

            <label for="turn">Turn: </label>
            <input name="turn" id='turn' type="text" placeholder="Turn" value="game.turn">

            <label for="source">Who: </label>
            <input name="source" id='source' type="text" placeholder="Who voted">

            <label for="target">For: </label>
            <input name="target" id='target' type="text" placeholder="Voted For">

            <label for="reason">Because: </label>
            <input name="reason" id='reason' type="text" placeholder="Reason">

            <input name="submit" type="submit" value="Submit" />
        </form>
    </div>
        {% endblock %}
